<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Deployment Model Component classification</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body style="background: #000;">
  <div class="login">
   <h1>Object Classifier from 3d .obj files</h1>
     <form method="POST" action="" enctype="multipart/form-data">
      <input type="file" name="file"></p>
      <input type="submit" value="Submit">
     </form>
     <!-- Main Input For Receiving Query to our ML -->
     <form action="{{ url_for('predict')}}"method="post" enctype="multipart/form-data">
       <input type="file" name='file' multiple='' placeholder="file_path" required="required"/>
      <button type="submit" class="btn btn-primary btn-block btn-large">Classify object from file</button>
     </form>
 
    <br>
    <br>
    {{ classification_text }}
 
  </div>
 
 
 </body>
 </html>